
body{	
	font-size: 14px;
	line-height: 26px;
	background: url('../img/bg.jpg') repeat;
	
}
.container {    
    /* padding-right: 0px; padding-left: 0px; */
	width: 1045px;
	clear: both;
	position: relative;
	margin: 0 auto;
}
#wrapper.boxed-all {
    position: relative;
    background: #FFF;
    width: 1045px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 3px #CACACA;
    -moz-box-shadow: 0 0 3px #cacaca;
    box-shadow: 0 0 3px #CACACA;
}

#theme-header {
    background: #FFF;
    /* margin: 20px auto 25px; */
    border-top: 3px solid #ff0400;
    position: relative;
}
a, a:hover{
	text-decoration: none;
}
ul{
	padding-left: 0;
}
.top-nav {
    background: #0371d2;
    border-bottom: 1px solid #ececec;
    height: 31px;
}
.today-date {
    float: left;
    padding: 0 10px;
    font-size: 10px;
    color: #fff;
    margin: 3px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #CCC;
    border-width: 0 1px 0 0;
}
.top-nav ul {
    float: left;
	padding-left: 5px;
}
.top-nav ul li {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 12px;
}
.top-nav ul li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
	text-decoration: none;
}
.top-nav ul li:hover > a, .top-nav ul:hover > a, .top-nav ul li.current-menu-item a {
    color: #fff;
}
.top-nav ul li.current-menu-item:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    right: 45%;
    border: 4px solid transparent;
    border-top-color: #ff0400;
}
.search-block {
    height: 30px;
    overflow: hidden;
    float: right;
    margin-left: 5px;
    position: relative;
}
.search-block .search-button {
    background: #ff0400;
    cursor: pointer;
    float: right;
    height: 30px;
    width: 30px;
    display: block;
    border: 0 none;
    box-shadow: none !important;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.top-nav .social-icons {
    float: right;
    padding-top: 2px;
}
.social-icons {
    text-align: center;
}
.search-block:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    z-index: 2;
    right: 30px;
    border: 4px solid transparent;
    border-right-color: #ff0400;
}
.top-nav .social-icons a {
    color: #fff;
}
.top-nav .social-icons a, .footer-bottom .social-icons a {
    opacity: 0.5;
}
.social-icons a {
    margin: 2px 5px;
    position: relative;
    text-shadow: none;
    display: inline-block;
}

.footer-bottom {
    position: relative;
    background: #2e2e2e;
    line-height: 35px;
    border-top: 1px solid #444;
    color: #ccc;
    padding: 15px 0;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.text-right{
	text-align: right;
}
.clear {
    clear: both;
}
.footer-bottom a {
    color: #ccc;
}
.footer-bottom a:hover {
    color: #fff;
}
.header-content {
    padding-top: 15px;
    padding-bottom: 15px;
}
ul.banner-area-ul {
    display: block;
	margin: 0;
}
.banner-area-ul li {
    display: inline-block;
    margin-left: 8px;
}
ul.banner-area-ul li a {
	display: block;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    font-size: 19px;
    border-radius: 50%;
}
ul.banner-area-ul li img {
    width: 25px;
    height: 25px;
    margin: 0 auto;
}
.red, ul.banner-area-ul li:nth-child(1) a, ul.banner-area-ul li:nth-child(3) a:hover {
    background: #ee1d24;
}
.green, ul.banner-area-ul li:nth-child(2) a, ul.banner-area-ul li:nth-child(4) a:hover {
    background: #71a300;
}
.mov, ul.banner-area-ul li:nth-child(3) a, ul.banner-area-ul li:nth-child(1) a:hover {
    background: #7200d2;
}
.magenta, ul.banner-area-ul li:nth-child(4) a, ul.banner-area-ul li:nth-child(2) a:hover {
    background: #d20171;
}

a.random-article, a.tie-cart {
    background: #494949;
    width: 42px;
    height: 47px;
    display: block;
    float: right;
    margin-left: 1px;
    color: #FFF;
    text-align: center;
    position: relative;
}
a.random-article i:before, a.tie-cart i:before {
    font-size: 18px;
    width: 42px;
    line-height: 50px;
}
a.random-article:hover, a.tie-cart:hover {
    background-color: #777;
}
#main-nav {
    margin: 0 auto;
    background: #2d2d2d;
    box-shadow: inset -1px -5px 0px -1px #393939;
    min-height: 52px;
    border-bottom: 5px solid #ff0400;
}
#main-nav .main-menu {
    margin-left: 10px;
}
#main-nav ul li {
    font-size: 13px;
    position: relative;
    display: inline-block;
    float: left;
}
#main-nav ul li.current-menu-item, #main-nav ul li.current_page_parent, #main-nav ul li.current-menu-parent, #main-nav ul li.current-page-ancestor {
    margin-top: -5px;
    height: 52px;
    border-width: 0;
}
#main-nav ul li.menu-item-home.current-menu-item a {
    background-position: center 13px;
    height: 52px;
}
#main-nav ul#menu-main-nav-menu li.current-menu-item > a {
    color: #ffe637;
}
#main-nav ul li:first-child, #main-nav ul li:first-child a {
    border: 0 none;
}
#main-nav ul li.menu-item-home a {
    background-image: url(../img/home.png)!important;
    background-repeat: no-repeat!important;
    background-position: center -44px;
    text-indent: -9999px;
    width: 52px;
}
#main-nav ul li.current-menu-item a{
	background-color: #ff0400;
	line-height: 57px;
    border-width: 0 !important;
}
#main-nav ul li a {
    text-transform: uppercase;
	padding: 0 10px;
}
#main-nav ul li a {
    display: inline-block;
    height: 42px;
    position: relative;
    line-height: 47px;
    color: #ddd;
    padding: 0 10px;
    border: 1px solid #383838;
    border-width: 0 0 0 1px;
}
#main-nav ul#menu-main-nav-menu li:nth-child(2) a {
    background: #71a300;
}
#main-nav ul#menu-main-nav-menu li:nth-child(3) a {
    background: #0371d2;
}
#main-nav ul#menu-main-nav-menu li:nth-child(4) a{
	background: #f37736;
}
#main-nav ul#menu-main-nav-menu li:nth-child(5) a{
	background: #ee4035;
}
#main-nav ul#menu-main-nav-menu li:nth-child(6) a{
	background: #7200d2;
}
#main-nav ul#menu-main-nav-menu li:nth-child(7) a{
	background: #d20171;
}
ul#menu-main-nav-menu {
    display: initial;
}
#main-nav .menu-sub-content {
    display: none;
    padding: 0;
    position: absolute;    
    border-top: 2px solid #F88C00;
    background: #2d2d2d;
    color: #999;
    -webkit-box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#main-nav ul ul.sub-menu {
    width: 200px;
    z-index: 250;
}
#main-nav ul ul.sub-menu li{
    display: block;
    width: 200px;
}
#main-nav .menu-sub-content, #main-nav ul ul{
	border-top-color: #ff0400;
}
#main-nav ul ul a, #main-nav .mega-menu-block a {
    border: 0 none;
    background: none !important;
    height: auto !important;
    line-height: 1.5em !important;
    padding: 7px;
    display: block;
    margin-right: 0;
    z-index: 210;
    color: #ccc;
}
#main-nav ul li.menu-item-has-children a, #main-nav ul li.mega-menu a {
    padding-right: 20px;
}
#main-nav ul ul li:hover > a, #main-nav ul ul:hover > a {
    color: #FFF;
    padding-left: 15px;    
}
#main-nav ul li:hover > ul, #main-nav ul li:hover > .mega-menu-block {
    display: block;
    -webkit-animation: fadeInDown .2s ease-in;
    -moz-animation: fadeInDown .2s ease-in;
    animation: fadeInDown .2s ease-in;
}
#main-nav ul ul ul {
    right: auto;
        left: 200px;
    top: -2px;    
}
#main-nav ul > li.menu-item-has-children:hover > a:after, #main-nav ul > li.mega-menu:hover > a:after {
    content: "";
    position: absolute;
    left: 20px;
    top: 36px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent #F88C00;
    display: block;
    width: 0;
    z-index: 200;
    -webkit-animation: fadeInDown .2s ease-in;
    -moz-animation: fadeInDown .2s ease-in;
    animation: fadeInDown .2s ease-in;
}
#main-nav ul > li.menu-item-has-children:hover > a:after, #main-nav ul > li.mega-menu:hover > a:after {
    border-color: transparent transparent #ff0400;
}

#wrapper.boxed-all #main-content {
    width: 997px;
    margin-top: 0;
    padding: 0;
    background: transparent;
}
#main-content {
    background: #FFF;
    margin: 20px auto 25px;
    position: relative;
    padding: 24px 0;
    -webkit-transform: none;
}
.content {
    float: left;
    width: 660px;
}
#sidebar {
    float: right;
    width: 310px;
}

























