/* Custom Css*/
a:hover{
    color: #d20171;
}
.top-nav{
     background: #0371d2;
}
.today-date, .top-nav ul li a{
         color: #fff;
}
.top-nav ul li:hover > a, .top-nav ul:hover > a, .top-nav ul li.current-menu-item a {
    color: #fff;
}
.header-content {
    padding: 0px 15px;
}
.e3lan-top {   
    margin: 20px 0;
}
#main-nav ul li a{
    text-transform: uppercase;
}
.top-nav .social-icons a {
    color: #fff;
}
ul.banner-area-ul {
    display: block;
}
.banner-area-ul li{
 display: inline-block;
     margin-left: 8px;
}
ul.banner-area-ul li a {  
    display: block; 
    color: #fff;
    font-weight: 600;
    padding: 10px;
    font-size: 19px;
    border-radius: 50%;
}
ul.banner-area-ul li img {
    width: 25px;
    height: 25px;
    margin: 0 auto;
}
.orange, ul.banner-area-ul li:nth-child(1) a{
    background: #0371d2;
}
ul.banner-area-ul li:nth-child(1) a:hover{
    background: #f37736;
}
.red, ul.banner-area-ul li:nth-child(2) a, ul.banner-area-ul li:nth-child(4) a:hover{
    background: #ee1d24;
}
.green, ul.banner-area-ul li:nth-child(3) a, ul.banner-area-ul li:nth-child(5) a:hover{
    background: #71a300;
}
.mov, ul.banner-area-ul li:nth-child(4) a, ul.banner-area-ul li:nth-child(2) a:hover{
    background: #7200d2;
}
.magenta, ul.banner-area-ul li:nth-child(5) a, ul.banner-area-ul li:nth-child(3) a:hover{
    background: #d20171;
}

.boxed-all #theme-header.fixed-header {
    position: fixed !important;
    top: 0;
    z-index: 999999;
}
#main-nav ul li.menu-item-home a, #main-nav ul li.menu-item-home a:hover {    
    background-position: center 10px;
}
#main-nav ul li.menu-item-home:hover{
	background: #ff0507;
}
body.admin-bar #theme-header.fixed-header {
   top: 32px;
}
#main-nav ul#menu-main-nav-menu li:nth-child(2) a{
	background: #71a300;
}
#main-nav ul#menu-main-nav-menu li:nth-child(3) a{
	background: #0371d2;
}
#main-nav ul#menu-main-nav-menu li:nth-child(4) a{
	background: #f37736;
}
#main-nav ul#menu-main-nav-menu li:nth-child(5) a{
	background: #ee4035;
}
#main-nav ul#menu-main-nav-menu li:nth-child(6) a{
	background: #7200d2;
}
#main-nav ul#menu-main-nav-menu li:nth-child(7) a{
	background: #d20171;
}
#main-nav ul li a:hover{
  background: url(images/menu-bg.jpg) repeat;
}
#main-nav ul#menu-main-nav-menu li.current-menu-item  > a{
	color: #ffe637;
}
.service-provider-form .col6 {
    width: 49%;
    display: inline-block;
    padding-right: 15px; 
	margin-bottom: 15px;
}
.service-provider-form .col12 {
    width: 100%;
    display: block; 
    margin-top: 15px;	
}
.service-provider-form input[type=text], .service-provider-form select{
	width: 100%;
}
.service-provider-form input[type=button] {
    padding: 5px 15px;
	margin-right: 15px;
}
.tie-hide, .lazy-enabled #main-content .post-thumbnail, .lazy-enabled #theme-footer div.post-thumbnail, .lazy-enabled #main-content img, .lazy-enabled #featured-posts{
	opacity: 1;
}
.toggle h3 {
    background: #d6d6d6;
}
.toggle-content {
    background: #fff;
}
/******* Home page sample 2*********/
.wide-layout #theme-header.fixed-header {
    position: fixed !important;
    top: 0;
    z-index: 999999;
	left: 0;
    right: 0;
}
.page-id-731 .tie-hide, 
.page-id-731.lazy-enabled #main-content .post-thumbnail, 
.page-id-731.lazy-enabled #theme-footer div.post-thumbnail, 
.page-id-731.lazy-enabled #main-content img,
.page-id-731.lazy-enabled #featured-posts{
	opacity: 1;
}
.page-id-731 a {
    color: #e26215;
}
.page-id-731 .cat-box-content, .page-id-731 #sidebar .widget-container, .page-id-731 .post-listing, #commentform {
    border-bottom-color: #71a300;
}
.page-id-731 a.more-link{
	background-color: #d20171;
}
.page-id-731 #menu-item-706{
	margin-top: -5px;
    height: 52px;
    border-width: 0;
	background: #ff0507;
}
.page-id-731 .featured-title a, 
.page-id-731 .footer-bottom a:hover{
	color: #fff;
}
.page-id-731 .footer-bottom a {
    color: #ccc;
}
.page-id-731 .content {
    width: 70%;
    padding: 0 15px;
}
.page-id-731 #sidebar {  
    width: 30%;
    padding: 0 15px;
}
.page-id-731 #sidebar .flexslider {
    width: 100%;
}
.page-id-731 #wrapper.wide-layout .breaking-news, 
.page-id-731 #wrapper.wide-layout .container {
    width: auto;
}

.content {
    width: 70%;
    padding: 0 15px;
}
#sidebar {  
    width: 30%;
    padding: 0 15px;
}
#sidebar .flexslider {
    width: 100%;
}
/******* ./Home page sample 2 *****/
span.current {
    /* color: #eb4924; */
    color: #d20171;
}
.post-title {    
    color: #f43d2a;
    border-bottom: 1px dotted;
}
#topcontrol{
	bottom: 65px;
}
.read-more{
	color: #f37736;
}
.read-more:hover{
	color: #d20171;
}

.wpcf7-form textarea, .wpcf7-form input[type=text], .wpcf7-form input[type=password], .wpcf7-form input[type=email], .wpcf7-form input[type=url], .wpcf7-form input[type=tel], .wpcf7-form input[type=number], .wpcf7-form input[type=date], .wpcf7-form input[type=file], .wpcf7-form input[type=search], .wpcf7-form input[type=color], .wpcf7-form input[type=datetime], .wpcf7-form input[type=datetime-local], .wpcf7-form input[type=month], .wpcf7-form input[type=range], .wpcf7-form input[type=time], .wpcf7-form input[type=week], .wpcf7-form select{
	width: 100%;
}





































